.input-wrapper {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.input {
  width: 100%;
  height: 36px;
  background-color: #3a3b3d;
  border-radius: 18px;
  display: flex;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: border 0.2s;
  color: #c5c5c5;
  padding: 4px 14px;
  font-size: 0.95rem;
}

.input-label {
  margin-left: 16px;
  margin-bottom: 2px;
  font-size: 0.75rem;
  color: #c6c6c6;
}

.input:focus {
  border: 2px solid hsl(214, 100%, 59%);
}
