.sidenav {
  height: 100%;
  width: 56px;
  position: fixed;
  left: 0;
  margin: 0;
  background-color: var(--palette-shade-2);
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: width 0.1s;
}

.sidenav.sidenav-open {
  width: 250px;
}

.sidenav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0;
}

.sidenav-header h2 {
  display: none
}

.sidenav-header.extended h2 {
  display: block;
  margin: 0;
  margin-left: 18px;
}

.sidenav-isOpen {
  margin-left: 250px;
}