.sidenav-toggle {
  width: 42px;
  height: 42px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  margin: 4px 6px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: background-color 0.1s;
}

.sidenav-toggle:hover {
  background-color: var(--palette-shade-4);
}

.sidenav-toggle.is-open svg {
  transform: rotate(180deg);
  transition: transform 0.1s;
}

.sidenav-toggle svg {
  transition: transform 0.1s;
}